.experience-thaco {
  background: url('/dist/assets/bg-yak.jpg');
  background-position: center;
  background-size: cover;
}

.experience-thaco .description {
  padding: 10vh;
  background: none;
  color: white;
}
