.experience-thaco {
  background: url('/dist/assets/bg-yak.jpg');
  background-position: center;
  background-size: 150vw;
}

.experience.experience-thaco .overlay {
  background: linear-gradient(
    to bottom,
    rgba(10, 12, 14, 1),
    rgba(10, 12, 14, 0),
    rgba(10, 12, 14, 0),
    rgba(10, 12, 14, 1)
  );
}
