.summary {
  height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.summary .summary-grid {
  top: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
  width: 100%;
  height: 100%;
}

.summary .summary-grid > img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.summary .header {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  font-size: calc(2vw + 2rem);
  justify-self: flex-start;
  color: white;
}

.summary .overlay {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(10, 12, 14, 0.3);
}

.summary .main-photo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  object-fit: contain;
  background: radial-gradient(
    circle at center,
    rgba(255, 0, 0, 1) 0,
    rgba(255, 0, 0, 0) 50%
  );
}

@media only screen and (max-width: 700px) {
  .summary .summary-grid > img {
    display: none;
  }
  .summary .summary-grid > img.last-photo {
    display: block;
  }
  .summary .header {
    color: black;
  }
}
