.experience-freelance {
  background: url('/dist/assets/workstation.jpg');
  background-position: center;
  background-size: cover;
}

.experience.experience-freelance .description {
  padding: 10vh;
  background: linear-gradient(
    to bottom,
    rgba(10, 12, 14, 0),
    rgba(10, 12, 14, 0.8),
    rgba(10, 12, 14, 0.6),
    rgba(10, 12, 14, 0)
  );
  color: white;
}
